@font-face {
    font-family: monteserrat;
    src: url('../../../Fonts/Montserrat/Montserrat-Regular.ttf');
}

.categories {
    margin: 2rem 0;

    .grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 1rem;

        button {
            padding: 1rem 0;
            border: none;
            color: #fff;
            font-family: monteserrat;
            font-size: 1rem;
            text-transform: uppercase;
            border-radius: 2px;

            &:focus {
                border: 1px solid #000;
            }

            &:hover {
                opacity: 0.7;
                transition: all .5ms ease-out;
            }
        }

        .viewMore {
            background: none;
            border: 1px solid #cfb995;
            color: #cfb995;

            img {
                height: 1rem;
                width: 1rem;
                object-fit: contain;
                margin-left: 1rem;
                transform: rotate(90deg);
            }
        }
    }

    .error {
        text-align: center;
        font-size: 1.2rem;
        color: red;
        font-family: monteserrat;
    }
}

@media screen and (max-width:1024px) {
    .categories {

        .grid {

            button {
                font-size: .8rem;
            }

            .viewMore {

                img {
                    height: .8rem;
                    width: .8rem;
                }
            }
        }

                .error {
                    font-size: 1rem;
                }
    }
}

@media screen and (max-width:768px) {
    .categories {
        .grid {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

@media screen and (max-width:639px) {
    .categories {
        .grid {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}