.box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.free {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: .5rem 0;
}